body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f9;
    font-family: Arial, sans-serif;
    font-family: "Syne", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 40px;
    width: 400px; /* Increased width */
}

.profile-pic {
    width: 120px; /* Increased size */
    height: 120px; /* Increased size */
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 30px;
}

h1 {
    margin: 0;
    font-size: 28px; /* Increased size */
    color: #333;
}

.title {
    font-size: 18px; /* Increased size */
    color: #777;
    margin: 15px 0;
}

.subtitle {
    font-size: 16px; /* Increased size */
    color: #555;
    margin: 15px 0 30px;
}

.social-links {
    display: flex;
    justify-content: space-around;
}

.social-links a {
    margin: 0 15px;
    text-decoration: none;
    position: relative; 
    display: inline-block;
    color: #C8A2C8; 
}

/* Underline effect on hover */
.social-links a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: #333;
    transition: width 0.4s ease;
}

.social-links a:hover::after {
    width: 100%;
    left: 0;
    background: #333; /* Underline color */
}
