body {
    text-align: center;
    background-color:darkred;
}
h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: blanchedalmond;
    transition: 1s;
}
h1 {
    font-family:cursive;
    color:blanchedalmond;
    transition: cubic-bezier(0.165, 0.84, 0.44, 1);
    font-size: xx-large;
}
h2 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: blanchedalmond;
    transition: ease-in-out;
}
